modules = ["nodejs-20", "web"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[deployment]
build = ["sh", "-c", "yarn install && yarn run build"]
run = ["sh", "-c", "yarn run start"]
deploymentTarget = "cloudrun"
publicDir = "public"
